.footer {
}
.footer__content {
	max-width: 1240px;
	margin: 0 auto;
	background: #212529;
}
.footer__top {
}
.footer__logo {
}
.footer__info {
}
.footer__info-list {
}
.footer__info-link {
}
.footer__info-right {
}
.footer__line {
}
.footer__bottom {
}
.footer__address {
}
.footer__year {
}