.header {
}
.header__content {
	max-width: 1240px;
	margin: 0 auto;
}
.header__top {
}
.header__logo {
}
.header__menu {
}
.header__menu-list {
}
.header__menu-link {
}
.header__menu-right {
}
.header__search {
}
.header__search-img {
}
.header__bottom {
	background-size: 100% 100%;
	background: url("../img/img/12.png")0 0 no-repeat;
}
.header__title {
}
.header__sub-title {
}
.header__numb-page {
}