@import "_reset.scss";
@import url('https://fonts.googleapis.com/css?family=Inter:300,500,600,700,800@display=swap');
@import "header.scss";
@import "main.scss";
@import"footer.scss";

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,display:swap);

body{
	font-family: "Poppins",sans-serif;
	padding: 0 15px;

}
main{overflow: clip;}
.main__wrapper {
	min-height: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
}
.main__contain {
	max-width: 1230px;
	margin: 0 auto;
}
.main__top {

}
.top {
	padding: 20px 0 0;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.top__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 140%;
}
.top__sub-title {
	max-width: 518px;
}
.top__images {
	padding: 13px 0 0;
	overflow: hidden;
}
.top__images img{
	width: 1230px;
	max-height: 513px;
	animation-name: woow;
	animation-duration: 46s;
	animation-iteration-count: infinite;
	}
	
@keyframes woow{
	0% {
		-webkit-transform: scale(1) translate(0, 0);
				  transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 16%;
				  transform-origin: 84% 16%;
	 }
	 100% {
		-webkit-transform: scale(1.25) translate(20px, -15px);
				  transform: scale(1.25) translate(20px, -15px);
		-webkit-transform-origin: right top;
				  transform-origin: right top;
	 }
  }
  @keyframes kenburns-top-right {
	 0% {
		-webkit-transform: scale(1) translate(0, 0);
				  transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 84% 16%;
				  transform-origin: 84% 16%;
	 }
	 100% {
		-webkit-transform: scale(1.25) translate(20px, -15px);
				  transform: scale(1.25) translate(20px, -15px);
		-webkit-transform-origin: right top;
				  transform-origin: right top;
	 }}


.main__info-text {
}
.text-info {
	display: flex;
	gap: 32px;

}
.text-info p{
	color: #9C9C9C;
}
.text-info__left {
	max-width: 614px;
}
.text-info__title {
	padding-top: 100px;
	font-weight: 600;
font-size: 24px;
line-height: 140%;
color: #333333;
}
.text-info__paragraf {
	margin-top: 24px;
}
.text-info__last-text {
	display: flex;
	gap: 80px;
	padding-top: 60px;
}
.text-info__right {
	max-width: 614px;
}
.text-info__right p:not(:last-child){
padding: 0 0 25px;
}



.main__gallery {
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	padding-top: 81px;
}
.gallery__img img{
	width: 598px;
	max-height: 513px;
	transition: 1s;

}
.gallery__img{
overflow: hidden;}
.gallery__img img:hover{
	transform: scale(1.1, 1.1);
}
.gallery__img-great{
overflow: hidden;}
.gallery__img-great img{
	width: 1230px;
	max-height: 513px;
	transition: 1s;
	&:hover{
		transform: scale(1.1, 1.1);}
}






.main__achievement {
}
.achievement {
}
.achievement__top {
}
.achievement__title {
	margin-top: 40px;
	font-size: 16px;
	font-weight: 600;
	position: relative;
}
.achievement__title ::after{ 
	content: "";
	width: 494px;
	border: 2px solid#000;
	position: absolute;
	top: 50%;
	margin-left: 26px;
}













.achievement__top {
}
.achievement__title {
}
.achievement__left {
}
.left-achievement {
	display: flex;
	gap: 40px;
	flex-direction: column;
}
.left-achievement__gallery {
	width: 746px;
	max-height: 365px;
	overflow: hidden;
}
.left-achievement__gallery img{
	transition: 1s;
	&:hover{
		transform: scale(1.1, 1.1);
	}
}
.achievement__right {
	max-width: 334px;
display: flex;
flex-direction: column;
gap: 235px;
}
.right-achievement {
}
.right-achievement__block {
}
.right-achievement__block p{
	color: #9C9C9C;
}
.right-achievement__title {
	font-weight: 600;
	font-size: 24px;
	color: #333333;
	line-height: 160%;
	margin-bottom: 20px;
}

.achievement__wrapper{
padding: 40px 0 40px;
	display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
flex-wrap: wrap;
}