@import url("header.css");
@import url("footer.css");
@import url("style.css");
#gall {
  background: black;
  padding: 84px 15px;
}

.gall-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.gall-grid img {
  width: 100%;
  height: 200px;
  display: block;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
.gall-grid img:hover {
  transition: 0.2s;
  height: 230px;
  transform: scale(1.02);
}
/* --- Lightbox styles --- */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox-img {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.lightbox-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.lightbox-nav span {
  color: white;
  font-size: 60px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.gall-grid img.visible {
  opacity: 1;
  transform: translateY(0);
}