@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* шрифти*/
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.contain {
  padding: 15px;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  max-width: 816px;
  margin: 0 auto;
}

p {
  color: #6C757D;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  padding: 0 0 30px;
}
p:last-child {
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  max-width: 605px;
  margin: 0 0 40px;
}

.text {
  margin: 0 0 80px;
}

.img {
  margin: 0 0 80px;
  max-width: 100%;
  margin: 0 auto;
}

.great {
  width: 100%;
  max-height: 400px;
  margin: 0 0 80px;
  font-size: 0px;
}

.img__slide {
  margin: 0 0 80px;
}

.left-img {
  border-radius: 5px;
  margin-left: 80px;
  max-width: 605px;
}

.right-img {
  border-radius: 5px;
  margin-left: 30px;
  max-width: 605px;
}

/*pages-2*/
.great-images {
  max-width: 100%;
  margin: 0 0 100px;
}

.big__images {
  width: 100%;
  max-height: 500px;
}

.page-two__text {
  margin: 0 0 100px;
}

.page-two__title {
  margin: 0 0 100px;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img__two {
  margin: 0 0 90px;
}

/*chek*/
.contain__chek {
  border: 1px solid #000;
  max-width: 1240px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  background-color: #000;
  text-align: center;
}

.info__boom {
  max-width: 500px;
  margin: 0 auto;
}
.info__boom h1 {
  border: 3px solid rgb(255, 255, 255);
}
.info__boom p {
  border: 1px solid rgb(255, 255, 255);
  max-width: 400px;
}
.info__boom p:last-child {
  border-radius: 40px;
  overflow: hidden;
  overflow: auto;
}

.contain__two {
  border: 1px solid #000;
  max-width: 1240px;
  margin: 0 auto;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background-color: rgb(179, 176, 176);
  text-align: center;
}

.info__boomtadah {
  max-width: 500px;
  border: 2px solid #000;
  border-style: dotted;
}
.info__boomtadah p {
  padding: 20px;
  max-width: 100%;
  border: 1px solid #000;
  outline: 7px solid #000;
}
.info__boomtadah h2 {
  margin: 0 0 20px;
}

.png__img {
  max-width: 500px;
  border: 3px solid #000;
  margin: 0 auto;
  background-color: rgb(60, 45, 123);
  border-radius: 25%;
}

.png {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  visibility: hidden;
}

.png-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
}

.png-2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.5;
}

.png-3 {
  border: solid 1px red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.link {
  font-size: 30px;
  border: 3px solid #000;
  max-width: 100px;
}

.button {
  -webkit-box-shadow: inset 10px 10px 10px #000;
          box-shadow: inset 10px 10px 10px #000;
  color: rgb(109, 48, 54);
  max-width: 100px;
  height: 60px;
  border-radius: 25%;
}