/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}


/* шрифти*/
@font-face {
    font-family: 'Rubik Vinyl';
    src: url('../fonts/RubikVinyl-Regular.woff2') format('woff2'),
        url('RubikVinyl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Nanum Brush Script';
    src: url('../fonts/NanumBrush.woff2') format('woff2'),
        url('NanumBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*--------------------*/
body{
	font-size: 30px;
	font-family: "Nanum Brush Script";
	text-align: center;
}
.link{
	color: black;
	text-shadow: 3px 4px 6px black;
	font-family: "Rubik Vinyl";
}
header{ 
}
main{
}
footer{
font-size: 40px;
font-family: "Nanum Brush Script";
}
.title {
	font-size: 50px;
	font-family: "Aboreto";
}
p{
	font-family:"" ;
	font-size: 14px;
	}
.sub__title {
	color: rgb(81, 18, 164);
}
.naruto__info {
	text-align: right;
}
.naruto__info p{
	font-size: 20px;
	line-height: 30px;
	&:nth-child(3){
		color: red;
	}
}
.text {
	text-align: justify;
	font-size: 20px;
	font-weight: 700;
}
.sasuke__info {
	text-align: right;
	& p{
		font-family: "Press Start 2P";
		font-size: 20px;
	}
}
.sakura__info {
	text-decoration: line-through;
}
.kakasi__info {
	text-transform: capitalize;
	word-spacing: 15px;
	text-shadow: 5px 5px 10px cornflowerblue;
}
.pain__info {
	line-height: 3;
}
.itachi__info {
	text-indent: 30px;
	letter-spacing: 7px;
	color: rgb(67, 99, 2);
}
.madara__info {
	white-space: pre-wrap;
	text-decoration: underline;
}