.header__wrapper {
	max-width: 1220px;
	margin: 0 auto;
}
.header__content {
	border: 1px solid#000;
}
.header__logo {
}
.header__logotype {
}
.header__menu {
}
.header__menu-list {
}
.link {
}
.right {
}
.header__ithem {
}
.header__ithem-link {
}
.search {
}