@import "_reset.scss";
@import url('https://fonts.googleapis.com/css?family=Inter:300,500,600,700,800@display=swap');
@import "header.scss";
@import "main__top.scss";
@import "main.scss";
@import"footer.scss";
	[class*="__title"]{
font-size: 50px;
}
	[class*="-data"]{
	font-size: 10px;
	}
	[class*="-text"]{
		font-weight: 500;
		font-size: 16px;
		line-height: 25px;		}
		
		[class*="-link-info"]{
color: white;			}
body{
padding: 0 15px;}
.main__wrapper{
	max-width: 1220px;
	margin: 0 auto;
}
.main__contain {
}
.main__top {
}
.main__top-title {
}
.main__top-text {
}
.main__top-number {
}
.pages {
}
		.block {
		}
		.block__title {
		}
		.block__catalog {
		}
		.block__catalog-list {
		}
		.block__catalog-list-link {
		}
		.gallery {
		
		}
		.gallery__block {
		}
		.gallery__block-images {
		}
		.gallery__block-data {
		}
		.gallery__block-text {
		}
		.through {
		}
		.through__title {
		}
		.through__catalog {
		}
		.through__catalog-info {
		}
		.through__catalog-great-img {
		}
		.through__catalog-info-data {
		}
		.through__catalog-info-text {
		}
		.through__catalog-img {
		}
	