@import url("https://fonts.googleapis.com/css?family=Inter:300,500,600,700,800@display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header__content {
  max-width: 1240px;
  margin: 0 auto;
}

.header__bottom {
  background-size: 100% 100%;
  background: url("../img/img/12.png") 0 0 no-repeat;
}

.footer__content {
  max-width: 1240px;
  margin: 0 auto;
  background: #212529;
}

.main__content {
  max-width: 1240px;
  margin: 0 auto;
}