@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* шрифти*/
/*invoker1*/
.invoker__info {
  margin: 20px 300px;
  padding-left: 20px;
  width: 600px;
  height: 300px;
  border: 4px solid #000;
  overflow: hidden;
  font-size: 20px;
}

.invoke__img {
  width: 300px;
  height: 300px;
}

.invoke__text {
  width: 200px;
  height: 200px;
  display: inline-block;
}

/*invoker_2*/
.invoker__inform {
  margin: -90px 1000px;
  padding-left: 20px;
  width: 600px;
  height: 300px;
  border: 4px solid #000;
  overflow: scroll;
  font-size: 20px;
}

.invoke__imgs {
  width: 300px;
  height: 300px;
}

.invoke__text {
  width: 200px;
  height: 200px;
  display: inline-block;
}

/* мясник*/
.pudge__info {
  width: 600px;
  height: 300px;
  border: 4px solid #000;
  overflow: hidden;
  font-size: 20px;
  overflow: auto;
}

.pudge__img {
  width: 300px;
}

.pudge__text {
  display: inline;
}

/*мясник2*/
.pudge__inform {
  width: 600px;
  height: 300px;
  border: 4px solid #000;
  overflow: hidden;
  font-size: 20px;
  overflow: auto;
  margin: -20px 800px;
}

.pudge__imgs {
  width: 300px;
  margin: 0 0 0 130px;
}

.pudge__texton {
  max-width: 700px;
  max-height: 900px;
  border: 4px solid #000;
  overflow: hidden;
  font-size: 20px;
  overflow: auto;
  padding: 30px;
}